CherryPy>=3.8.0
rdflib>=4.2.1
rdflib-jsonld>=0.3
lxml>=3.5.0
dulwich>=0.12.0		# For pure python git support
tzlocal==1.2.2		# For timezone queries
pytest>=2.8.7		# For test support
requests>=2.8.1		# For test support#    
